<% include ./partials/header %>
	
	<section class="about-me-container ">
		<h1 class="h1-style"> About Me</h1>
		<h3> <i class="fa fa-graduation-cap" aria-hidden="true"></i>Education <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint accusamus exercitationem, inventore libero neque? Dolores aliquam odio tenetur. Laboriosam quae vitae, assumenda, officia nisi molestias necessitatibus. Repellendus, nihil repellat deserunt.</p>
		<hr>
		<h3> <i class="fa fa-gamepad" aria-hidden="true"></i>Interests <i class="fa fa-book" aria-hidden="true"></i></h3>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aperiam similique illo laudantium iure aspernatur tenetur laborum ipsa placeat nisi, voluptas adipisci incidunt saepe accusamus animi fugiat soluta temporibus delectus?</p>
		<hr>
		<h3> <i class="fa fa-css3" aria-hidden="true"></i>Experience <i class="fa fa-html5" aria-hidden="true"></i></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolorum consectetur dignissimos officia beatae, in sint, minima expedita id debitis earum mollitia porro dolore ullam quisquam odio est praesentium ut!</p>
		<hr>
		<h3> <i class="fa fa-terminal" aria-hidden="true"></i>Skills <i class="fa fa-laptop" aria-hidden="true"></i></h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi suscipit doloribus fugit nam. Ratione autem dignissimos molestias repudiandae, consectetur illo saepe voluptatibus blanditiis magni, laborum dolore maiores odio fugit veritatis.</p>
		<a href="/contact" class="btn btn-primary"> Contact Me </a>
	</section>

<% include ./partials/footer %>