<% include ./partials/header %>
	
	<section class="about-me-container ">
		<h1 class="h1-style "> About Me</h1>
		<h3> <i class="fa fa-graduation-cap" aria-hidden="true"></i>Education <i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
			<p> I started college studying civil engineering. I learned high level mathematics and problem solving. I eventually learned that civil engineering was not for me and promptly switched to hard sciences. I took an interest in physiology and that is where I stayed. I graduated with a degree in physiology and after graduation I joined a research team at the University of Connecticut looking into the association of genetics and the predisposition for success in certain sports. I eventually realized that I loved problem solving. I began taking online courses and bootcamps delving into everything to do with web development. It was a journey of propetual learning which I am still doing everyday. I characterize myself as a student for life and I will never stop.</p>
		<hr class="hr-styled">
		<h3> <i class="fa fa-gamepad" aria-hidden="true"></i>Interests <i class="fa fa-book" aria-hidden="true"></i></h3>
			<p> I enjoy reading technical books, but I also love spy novels. It is the mystery and suspense that keeps me interested. I am a huge fan of everything BBC from Dr Who to Come Dine with Me. I am a coffee snob, but I really don't know much about different types. I am an avid lover of nature from mountains to oceans.</p>
		<hr class="hr-styled">
		<h3> <i class="fa fa-css3" aria-hidden="true"></i>Experience <i class="fa fa-html5" aria-hidden="true"></i></h3>
			<p>I have made this website from scratch using HTML5, CSS3, Javascript, NodeJS, and MongoDB. I have experience using various frameworks such as bootstrap, and am proficient in managing themes for wordpress. I am also a quick learner and can master using different libraries or implementing features that I may not have used before.</p>
		<hr class="hr-styled">
		<h3> <i class="fa fa-terminal" aria-hidden="true"></i>Skills <i class="fa fa-laptop" aria-hidden="true"></i></h3>
			<ul id="skills-grid">
			  <div class="skills-group">
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Ruby</li>
				<li>NodeJS</li>
				<li>ReactJS</li>
			 </div>
			 <div class="skills-group">
				<li>MongoDB</li>
				<li>Bootstrap</li>
				<li>MySQL</li>
				<li>JavaScript</li>
				<li>Ruby on Rails</li>
			</div>

			</ul>
		<a href="/contact" class="btn btn-primary"> Contact Me </a>
	</section>

<% include ./partials/footer %>