<% include ./partials/header %>
	
	<section class="aboutme-container">
		<h1> About Me</h1>
		<h3>Education</h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint accusamus exercitationem, inventore libero neque? Dolores aliquam odio tenetur. Laboriosam quae vitae, assumenda, officia nisi molestias necessitatibus. Repellendus, nihil repellat deserunt.</p>
		<hr>
		<h3>Interests</h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis aperiam similique illo laudantium iure aspernatur tenetur laborum ipsa placeat nisi, voluptas adipisci incidunt saepe accusamus animi fugiat soluta temporibus delectus?</p>
		<hr>
		<h3>Experience</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolorum consectetur dignissimos officia beatae, in sint, minima expedita id debitis earum mollitia porro dolore ullam quisquam odio est praesentium ut!</p>
		<hr>
		<h3>Skills</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi suscipit doloribus fugit nam. Ratione autem dignissimos molestias repudiandae, consectetur illo saepe voluptatibus blanditiis magni, laborum dolore maiores odio fugit veritatis.</p>
		<a href="/contact" class="btn btn-primary"> Contact Me </a>
	</section>

<% include ./partials/footer %>