<% include ./partials/header %>

<section class="login-container">
	<h1 class="h1-style"> Adminstration Page </h1>
	
	<a class="btn btn-primary admin-btn" href="/new"> Add New Blog </a>
</section>



<% include ./partials/footer %>