

<% include partials/header %>

<div class="blog_header">
	
	<h1 class="h1-style"> My Blog </h1>
	
</div>

<section class="blog-container">


	<% blogs.forEach(function(blog){ %>
	<div class="blog-grid">
			<h4 class="blog-title"> <%= blog.name %> </h4>
			<img class="blog-thumbnail" src=" <%= blog.image %>">
		<p>
			<a href="/blogs/<%=blog._id%>" class="btn btn-primary"> Read More </a>
		</p>
	</div>
	<% }) %>




</section>












<% include partials/footer %>