

<% include ./partials/header %>
<section class="blog-container">
<h1 class="h1-style"> This Is My Blog</h1>

	<% blogs.forEach(function(blog){ %>
	<div class="blog-grid">
			<h4 class="blog-title"> <%= blog.name %> </h4>
			<img class="blog-thumbnail" src=" <%= blog.image %> ">
		<p>
			<a href="<%=blog._id%>" class="btn btn-primary"> Read More </a>
		</p>
	</div>
	<% }) %>




</section>












<% include ./partials/footer %>