

<% include ./partials/header %>
<section class="blog-container">
<h1 class="h1-style"> This Is My Blog</h1>

<div class="blog-grid">
	<% blogs.forEach(function(blog){ %>
		<div class="thumbnail">
			<img src=" <%= blog.image %> ">
		<div class="caption">
			<h4> <%= blog.name %> </h4>
		</div>
	    </div>
	<% }) %>
	



</section>












<% include ./partials/footer %>