<% include ./partials/header %>

<section class="contactForm">
	<div class="contact-container">
		<h1> Just A few Quick Questions</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate autem aspernatur voluptatibus doloremque? Ab placeat fugiat, ratione minus. Repellendus quidem deserunt ad soluta natus facere sapiente libero quisquam odit neque.</p>
		
		<fieldset>
			<form action="/contact" method="POST" class="contact-grid">
				<label>
					<input type="text" placeholder=" Name" name="name" required>
				</label>
				<label>
					<input type="email" placeholder=" Email" name="email" required>
				</label>
				<label>
					<input type="number" placeholder=" Budget" name="price" min="1" required> 
				</label>
				<label>
					<select name="date" required>
						<option disabled selected hidden>What's Your Project Timeline?</option>
						<option>Immediatly</option>
						<option>1 Month</option>
						<option>2 - 3 Months</option>
						<option>3 - 5 Months</option>
						<option>5+ Months</option>
						<option>Other</option>
					</select>
				</label>
				<label> 
					<textarea name="message" placeholder=" Tell me about your project" required></textarea>
				</label>
				<button class="btn btn-primary"> Submit! </button>
			</form>
		</fieldset>
	</div>

</section>

<% include ./partials/footer %>