<% include ./partials/header %>

<div class="contact-container">
	<h1> Just A few Quick Questions</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate autem aspernatur voluptatibus doloremque? Ab placeat fugiat, ratione minus. Repellendus quidem deserunt ad soluta natus facere sapiente libero quisquam odit neque.</p>
	<form action="/contact" method="POST">
		<input type="name" placeholder="name" name="name">
		<input type="name" placeholder="name" name="name">
		<input type="name" placeholder="name" name="name">
		<input type="name" placeholder="name" name="name">
		<textarea name="message" placeholder="Type your message here">

		</textarea>
		 <a href="/homepage" class="btn btn-outline-primary">Enter</a>

	</form>
</div>

<% include ./partials/footer %>