<% include ./partials/header %>

<section class="ideas-container">
	<div>
		<h1 class="h1-style">Design</h1>
	</div>
	<div class="ideas-grid">
			<img class="thumbnail" src="/images/design.png">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores deleniti architecto velit pariatur quis enim dolor harum amet praesentium impedit nulla sequi laudantium, dolorem ab recusandae nostrum, consequuntur voluptas, quibusdam.
			</p>
			
			<a href="/skills" class="btn btn-primary">Learn About Coding!</a>
	</div>
</section>



<% include ./partials/footer %>