<% include ./partials/header %>

<section class="ideas-container">
	<div>
		<h1 class="h1-style">Design</h1>
	</div>
	<div class="ideas-grid">
			<img class="thumbnail" src="/Images/design.png">
			<p>
					Together we can create something amazing! We can work together to design the best website application that will be catered to your needs, but also the needs of your target audience!
			</p>
			
			<a href="/skills" class="btn btn-primary">Learn About Coding!</a>
	</div>
</section>



<% include ./partials/footer %>