

<% include ./partials/header %>

<section >
<form class="edit-container" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
          <input class="input-form" type="text" value="<%= blog.name %>" name="blog[name]">

          <input class="input-form" type="text" value="<%= blog.image %>" name="blog[image]">

          <textarea name="blog[description]" class="inpt-desc input-form"> <%= blog.description %></textarea>
       
       
      
          <button class="btn btn-primary submit-btn "> Submit! </button>
        
      </form>



</section>

<% include ./partials/footer %>
