<% include ./partials/header %>



<div class="expertise-container">
	<span> <h1>MY EXPERTISE </h1> </span>
	<div class="header">
		<div class="expertise-grid">
			<a href="#"><i class="fa fa-code fa-5x" aria-hidden="true"></i></a>
			<p> Design </p>
		</div>
		<div class="expertise-grid">
			<a href="#"><i class="fa fa-code fa-5x" aria-hidden="true"></i></a>
			<p> Design </p>
		</div>
		<div class="expertise-grid">
			<a href="#"><i class="fa fa-code fa-5x" aria-hidden="true"></i></a>
			<p> Design </p>
		</div>
	</div>
</div>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0MqoV9Ra4_WYIEM3qc5dQ6GDr6LhCTJ5eWFghEmF0JgUhkd784a6nrw">








<% include ./partials/footer %>
