<% include ./partials/header %>


<header>
<div class="expertise-container pt-page-scaleUp">
	<div> <h1>MY EXPERTISE </h1> </div>
	<div class="header pt-page-scaleUp">
		<div class="expertise-grid pt-page-scaleUp">
			<a href="#"><i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i></a>
			<p class="icon-font"> Ideas </p>
		</div>
		<div class="expertise-grid pt-page-scaleUp">
			<a href="#"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i></a>
			<p class="icon-font"> Design </p>
		</div>
		<div class="expertise-grid pt-page-scaleUp">
			<a href="#"><i class="fa fa-code fa-5x" aria-hidden="true"></i></a>
			<p class="icon-font"> Code </p>
		</div>
	</div>
</div>

<article>
	
	<div class="about-container">
	<span> <h1> About Me </h1> </span>
		<div class="about-grid">
		   <div>
				<img class="thumbnail" src="http://dhiglobal.com/wp-content/uploads/2016/07/placeholder.jpg">
			</div>
			<div>
				<p> 
					commodi tempore in beatae, nisi consectetur dicta, iure ex esse nihil tenetur voluptate ipsa!
				</p>
			</div>
		</div>
	</div>






</article>




</header>








<% include ./partials/footer %>
