<% include ./partials/header %>


<header>
<div class="expertise-container pt-page-scaleUp">
	 <h1 class="h1-style">MY EXPERTISE </h1> 
	<div class="header pt-page-scaleUp">
		<div class="expertise-grid pt-page-scaleUp">
			<a href="/ideas"><i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i></a>
			<p class="icon-font"> Ideas </p>
		</div>
		<div class="expertise-grid pt-page-scaleUp">
			<a href="/design"><i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i></a>
			<p class="icon-font"> Design </p>
		</div>
		<div class="expertise-grid pt-page-scaleUp">
			<a href="/skills"><i class="fa fa-code fa-5x" aria-hidden="true"></i></a>
			<p class="icon-font"> Code </p>
		</div>
	</div>
</div>

<article>
	
	<div class="about-container">
		 <h1 class="h1-style"> About Me </h1>
		<div class="about-grid">
				<img id="self" class="thumbnail" src="/Images/self.jpg">
			<div id="about-information">
				<p> 
					I am a self-taught full-stack developer with a focus using the MEAN stack, which is MongoDB, Express, AngularJS, and NodeJS. 
					I have been studying programming on and off for the past few years, but I have been putting in 30 - 40 hours a week continuing to learn for the past year. I have focused on learning a variety of different languages such as ruby, python and even C#, but I found that I truly love nodeJS and all of the amazing libraries! I believe that being a self-taught programmer is my greatest strength because it has pushed me to be hungry to continue learning.
				</p>
			</div>
			<a href="/about" class="btn btn-primary"> Learn More</a>
		</div>
		
	</div>






</article>




</header>








<% include ./partials/footer %>
