<% include ./partials/header %>

<section class="ideas-container">
	<div>
		<h1 class="h1-style">Ideas</h1>
	</div>
	<div class="ideas-grid">
			<img class="thumbnail" src="/images/ideas.png">
			<p>
				Do you have an idea or a vision for what you want, but maybe you don't know how to achieve it? We will work together to put your
				idea and dreams to reality!
			</p>
			
			<a href="/design" class="btn btn-primary">Learn About Design!</a>
	</div>
</section>



<% include ./partials/footer %>