<% include ./partials/header %>
<section class="login-container">
	<h1 class="h1-style"> Admin Login</h1>

	<form action="/login" method="post" class="login-grid">
	  <input type="text" name="username" placeholder="username">
	  <input type="password" name="password" placeholder="password">
	  <input type="submit" value="Login!" class="login-button">
	</form>

</section>

<% include ./partials/footer %>
