<% include ./partials/header %>

    <form class="edit-container" action="/blogs" method="POST">
          <input class="input-form" type="text" placeholder="name" name="name">

          <input class="input-form" type="text" placeholder="image url" name="image">

          <textarea name="description" class="inpt-desc input-form" placeholder="Post Content"></textarea>

     
          <button class="btn btn-primary submit-btn">Submit</button>
    </form>
        
<% include ./partials/footer %>