<% include ./partials/header %>
	

<section class="portfolio-container">
		<h1 class="h1-style">Portfolio</h1>
		<p id="portfolio-p">This is a small collection of projects that I had had the oppurtunity to work on. I am continuing to expand my expertise everyday!</p>
	<div class="portfolio-grid">
		<h4 class="h4-style"> Blog Styling</h4>
		<img class="portfolio-img" src="/images/blogg.png">
		<p class="portfolio-desc" > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis mollitia pariatur reprehenderit rerum blanditiis, animi id voluptate impedit repellat
		</p>
	</div>

	<hr class="hr-styled">
	
	<div class="portfolio-grid">
		<h4 class="h4-style"> Pataptap Clone </h4>
		<img class="portfolio-img" src="/images/patatap.png">
		<p class="portfolio-desc" > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis mollitia pariatur reprehenderit rerum blanditiis, animi id voluptate impedit repellat
		</p>
	</div>

	<hr class="hr-styled">

	<div class="portfolio-grid">
		<h4 class="h4-style"> Image Gallery </h4>
		<img class="portfolio-img" src="/images/gallery.png">
		<p class="portfolio-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis mollitia pariatur reprehenderit rerum blanditiis, animi id voluptate impedit repellat
		</p>
	</div>

	<hr class="hr-styled">
	
	<div class="portfolio-grid">
		<h4 class="h4-style"> To Do List </h4>
		<img class="portfolio-img" src="/images/todolist.png">
		<p class="portfolio-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis mollitia pariatur reprehenderit rerum blanditiis, animi id voluptate impedit repellat
		</p>
	</div>
	<a class="btn btn-primary" id="portfolio-btn" href="/contact">Contact Me</a>

</section>

<% include ./partials/footer %>
