<% include ./partials/header %>
	

<section class="portfolio-container">
		<h1 class="h1-style">Portfolio</h1>
		<p id="portfolio-p">This is a small collection of projects that I had had the oppurtunity to work on. I am continuing to expand my expertise everyday!</p>
	<div class="portfolio-grid">
		<h4 class="h4-style"> Blog Styling</h4>
		<img class="portfolio-img" src="/images/blogg.png">
		<p class="portfolio-desc" > This is a simple proof of concept for a blog website. The website in full has user authentication for posting, and commenting on the various threads. 
		</p>
	</div>

	<hr class="hr-styled">
	
	<div class="portfolio-grid">
		<h4 class="h4-style"> Pataptap Clone </h4>
		<img class="portfolio-img" src="/images/patatap.png">
		<p class="portfolio-desc" > This is a patatap clone that is built using javascript, html, css, and various javascript libraries such as howljs. The application will play a sound and create a circle that fades out and away upon a keypress by the user.
		</p>
	</div>

	<hr class="hr-styled">

	<div class="portfolio-grid">
		<h4 class="h4-style"> Image Gallery </h4>
		<img class="portfolio-img" src="/images/gallery.png">
		<p class="portfolio-desc"> An Image portfolio website designed for a client that wanted to have a simple website application that allowed them to manually upload their images and display them.
		</p>
	</div>

	<hr class="hr-styled">
	
	<div class="portfolio-grid">
		<h4 class="h4-style"> To Do List </h4>
		<img class="portfolio-img" src="/images/todolist.png">
		<p class="portfolio-desc"> A fun and simple to do list application designed using html, css, javascript, nodeJS, and MongoDB. It has the ability to add and remove tasks that get associated to a database.  
		</p>
	</div>
	<a class="btn btn-primary" id="portfolio-btn" href="/contact">Contact Me</a>

</section>

<% include ./partials/footer %>
