<% include ./partials/header %>
	

<section class="portfolio-container">
		<h1 class="h1-style">Portfolio</h1>
		<p id="portfolio-p">This is a small collection of projects that I had had the oppurtunity to work on. I am continuing to expand my expertise everyday!</p>
	<div class="portfolio-grid">
		<h4 class="h4-style"> Blog Styling</h4>
		<img class="portfolio-img" src="/Images/Blogg.png">
		<p class="portfolio-desc" > This is a simple proof of concept for a blog website. The website in full has user authentication for posting, and commenting on the various threads. 
		</p>
	</div>

	<hr class="hr-styled">
	
	<div class="portfolio-grid">
		<h4 class="h4-style"> Pataptap Clone </h4>
		<img class="portfolio-img" src="/Images/patatap.png">
		<p class="portfolio-desc" > This is a patatap clone that is built using javascript, html, css, and various javascript libraries such as howljs. The application will play a sound and create a circle that fades out and away upon a keypress by the user.
		</p>
	</div>

	<hr class="hr-styled">

	<div class="portfolio-grid">
		<h4 class="h4-style"> Image Gallery </h4>
		<img class="portfolio-img" src="/Images/gallery.png">
		<p class="portfolio-desc"> An Image portfolio website designed for a client that wanted to have a simple website application that allowed them to manually upload their images and display them.
		</p>
	</div>

	<hr class="hr-styled">
	
	<div class="portfolio-grid">
		<h4 class="h4-style"> Night Life Coordination App </h4>
		<img class="portfolio-img" src="/images/nightlife.png">
		<p class="portfolio-desc">
			Find local bars and let other users know you will be going. Uses github Oauth2 for user authentication and mongoose/mongodb for storing data. The bars are found using the yelp api.
		</p>
	</div>

	<hr class="hr-styled">

	<div class="portfolio-grid">
		<h4 class="h4-style"> Voting Application </h4>
		<img class="portfolio-img" src="/images/polling.png">
		<p class="portfolio-desc">
			Vote on user created polls and have the results displayed using Chart.js. Users register using github OAuth2 authentication and allows for the polls to be saved and viewed in the users profile tab.
		</p>
	</div>

	<hr class="hr-styled">

	<div class="portfolio-grid">
		<h4 class="h4-style"> Stock Analysis </h4>
		<img class="portfolio-img" src="/images/stock.png">
		<p class="portfolio-desc">
			Stock Analysis Application that allows for real time analysis of stocks by entering a companies stock symbol. The application uses socket.io to allow for the real time updates for all connected users.
		</p>
	</div>

	<div class="portfolio-grid">
		<h4 class="h4-style"> Email Client </h4>
		<img class="portfolio-img" src="/images/emailclient.png">
		<p class="portfolio-desc">
			Email client that parses email server and allows for editing of images, fields, and deleting of email prior to saving work orders to database.
		</p>
	</div>

	<div class="portfolio-grid">
		<h4 class="h4-style"> Foyer App </h4>
		<img class="portfolio-img" src="/images/foyer.png">
		<p class="portfolio-desc">
			Built using react native, displays house information and allows for a user to like/dislike a parcel which is used to provide home recommendations to the user
		</p>
	</div>

	<div class="portfolio-grid">
		<h4 class="h4-style"> React-Native-Swipeable-Cards </h4>
		<img class="portfolio-img" src="/images/card.png">
		<p class="portfolio-desc">
			Swipeable card component that lets a user dislike or like the parcel based on the direction that they swiped.
		</p>
	</div>
	<a class="btn btn-primary" id="portfolio-btn" href="/contact">Contact Me</a>

</section>

<% include ./partials/footer %>
