<section class="portfolio-container">
	
	<h1 class="h1-style">Portfolio</h1>

	<p>This is a small collection of projects that I had had the oppurtunity to work on. I am continuing to expand my expertise everyday!</p>
	
</section>