<% include ./partials/header %>

<section class="blog-container-post">

	<h1 class="h1-style"><%=blog.name%></h1>

	<img class="blog_post_image" src="<%=blog.image%>">
	<p id="blog_content"><%=blog.description%></p>
	
	<a href="/blogs" class="btn btn-primary btn_back">Go Back</a>

	
</section>


<% include ./partials/footer %>