<% include ./partials/header %>

<section class="ideas-container">
	<div>
		<h1 class="h1-style">Programming</h1>
	</div>
	<div class="ideas-grid">
			<img class="thumbnail" src="/Images/code.png">
			<p>
				Once we put our ideas together and the design is ready I will use my knowledge of HTML, CSS, and javascript to put it all together.
			</p>
			
			<a href="/contact" class="btn btn-primary">Contact Me</a>
	</div>
</section>



<% include ./partials/footer %>