<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jon Rinciari: Form Submission Success</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/success.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<section class="success-container">

		<i class="fa fa-check-square fa-3x" aria-hidden="true"></i>

		<h1> HUZZAH!</h1>

		<h3> Your Message just arrived in my inbox. Talk to you soon! </h3>

		<a href="/homepage" class="btn btn-primary"> BACK TO HOME </a>
		

	</section>
	
</body>
</html>