.about-me-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Merriweather', serif;
	margin-top: 100px;
}

section h1 {
	margin-bottom: 30px;

}
section h3 {
	margin-bottom: 15px;
		font-family: 'Merriweather', serif;
	font-size: 30px;
	text-shadow: 1px 0px 0px #A1BBD0, 2px 1px 0px rgba(0,0,0,0.15);
	
}

section a {
	margin-top: 10px;
}

section p {
	color: #292f33 ;
  font-size: 18px;
  
  font-family: 'Merriweather', serif;
}

section i {
	padding: 20px;
}