.admin-container {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin-btn {
	max-width: 250px!important;
}



.btn-danger, .btn-warning{
	
	width: 80px;
	margin-top: 15px;
	margin-left: 10px;
	
}


#blog-buttons {
	display: flex;
	flex-direction: row;

}