/*Mobile Grid */


 .contact-container h1, p{
	text-align: center;
	padding: 10px 10px;
}

.contact-container {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-grid input {
	width: 400px;
	margin-top: 5px;
	border-radius: 5px;
	border: .5px solid gray;
	padding: 5px 10px;
	outline-color: #D1A827;
}

.contact-grid select {
	width: 400px;
	height: 36px;
	padding: 5px 10px;
	margin-top: 5px;
	border-radius: 5px;
	border: .5px solid gray;
	outline-color: #D1A827;
}

.contact-grid textarea {
	width: 400px;
	height: 200px;
	margin-top: 5px;
	outline-color: #D1A827;
	border-radius: 5px;
	border-color: gray;
	padding: 5px 10px;
}

.contact-grid {
	display: flex;
	flex-direction: column;
}

.contact-grid button {
	background-color: #3F4234;
	border-radius: 5px;
	color: #D1A827;
	border-color: #D1A827;
	outline-color: #D1A827;
}

.contact-grid button:hover {
	background-color: #A1BDD0;
	border-color: #3F4234;
	color: #3F4234;
}

h1.contact-container {
	align-self: center;
}

 /*.contact-grid input:focus:invalid, .contact-grid textarea:focus:invalid {
 	background: #fff url(/images/error.png) no-repeat 98% center;
	border-color: red;
}*/