body {
	background-color: black;
}

.bg-inverse{
	background-color: #A1BBD0!important;
}

a.nav-link {
	color: #3F4234!important;
}

.navbar-brand {
	color: #3F4234!important;
}


.navbar-inverse .navbar-toggler{
	border-color: #D1A827!important;
}