/* Navbar CSS */


/*==========================*/
body {
	background-image: url("../images/Background.png");
	background-size: contain;
	width: 100%;
	
	

}

button {
	outline: none!important;
}

#logo {
  width: 100px;
  height: 75px;
}

.bg-inverse{
	background-color: #A1BBD0!important;
}

a.nav-link {
	color: #3F4234!important;
	width: 90px;
	float: left;
	
}

a.nav-link:hover {
	color: #F4E7D7!important;
}

.navbar-brand {
	color: #3F4234!important;
}

.fa-bars {
	color: #3F4234;
}

.fa-code, .fa-pencil-square-o, .fa-lightbulb-o {
  color: #D1A827;
}

.fa-code:hover, .fa-pencil-square-o:hover, .fa-lightbulb-o:hover {
  color: #F4E7D7;
}

.icon-font {
  color: #F4E7D7;
  font-size: 22px;
  text-shadow: -1px 0px 0px rgba(244, 231, 215, 0.93);

}



.navbar-inverse .navbar-toggler{
	border-color: #D1A827!important;
}

.thumbnail {
  width: 50px;
  height: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.about-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* HEADER MOBILE*/



.header {
	display:flex;
	flex-direction: column;
	align-items: center;
  margin-top: 10px;

}

.expertise-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;

}

.expertise-container {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width:650px)
{
	.header {
		display:flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}




	.expertise-container {
		margin-top: 50px;
		
}
	}


.pt-page-scaleDown {
	animation: scaleDown .7s ease both;
}

.pt-page-scaleUp {
	animation: scaleUp .7s ease both;
}

.pt-page-scaleUpDown {
	animation: scaleUpDown .5s ease both;
}

.pt-page-scaleDownUp {
	animation: scaleDownUp .5s ease both;
}

.pt-page-scaleDownCenter {
	animation: scaleDownCenter .4s ease-in both;
}

.pt-page-scaleUpCenter {
	animation: scaleUpCenter .4s ease-out both;
}

/************ keyframes ************/

/* scale and fade */

@keyframes scaleDown {
	to { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUp {
	from { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUpDown {
	from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
	to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownCenter {
	to { opacity: 0; transform: scale(.7); }
}

@keyframes scaleUpCenter {
	from { opacity: 0; transform: scale(.7); }
}


