html {
  min-height: 100%;
}

body {
  background-color: #000;
}

.jumbotron h1 {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.94);
  text-shadow: -1px 2px -1px rgba(0, 0, 0, 1);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);

}

.jumbotron {
  background-color: rgba(0,0,0,0);
}

.btn-outline-primary {
  width: 200px;
  border: .5px solid #3f4234;
  background-color: #A1BBD0;
  color: #3f4234;
  font-size: 20px;
  text-transform: capitalize;
}

.btn-outline-primary:hover {
  background-color: #687672;
  color: #D1A827;
  border: 1px solid #D1A827;
  font-size: 20px;
  text-transform: capitalize;
}

.btn-outline-primary:active {
  box-shadow: 1px 1px 10px black;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #d1a827;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url(/Images/computer.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(/Images/lines.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/Images/background.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/Images/nature.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/Images/typing.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}


.pt-page-scaleDown {
  animation: scaleDown .7s ease both;
}

.pt-page-scaleUp {
  animation: scaleUp .7s ease both;
}

.pt-page-scaleUpDown {
  animation: scaleUpDown .5s ease both;
}

.pt-page-scaleDownUp {
  animation: scaleDownUp .5s ease both;
}

.pt-page-scaleDownCenter {
  animation: scaleDownCenter .4s ease-in both;
}

.pt-page-scaleUpCenter {
  animation: scaleUpCenter .4s ease-out both;
}

/************ keyframes ************/

/* scale and fade */

@keyframes scaleDown {
  to { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUp {
  from { opacity: 0; transform: scale(.8); }
}

@keyframes scaleUpDown {
  from { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownUp {
  to { opacity: 0; transform: scale(1.2); }
}

@keyframes scaleDownCenter {
  to { opacity: 0; transform: scale(.7); }
}

@keyframes scaleUpCenter {
  from { opacity: 0; transform: scale(.7); }
}
